@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title:</h2>
<h3>@ViewBag.Message</h3>

<section>
    <article>
        <p>
            This site provides information on exotic and foreign animals
            and plants to North America. We will explore common and scientific names
            and other identifying info. We will also investigate the history and discovery of the species
            as well as its introduction to America. Upon it's arrival we will see how the species
            has adapted to being transplanted as well as it's interactions with other species
            as well as people.
        </p>
    </article>
</section>