<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://exoticspecies.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>exoticspecies.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>exoticspecies</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$exoticspecies</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ExoticSpeciesOfTheNorth.Models.ExoticSpeciesDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:demoprojects.database.windows.net,1433;Initial Catalog=ExoticSpecies_db;Persist Security Info=False;User ID=demoprojectsadmin;Password=Barbecue1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:demoprojects.database.windows.net,1433;Initial Catalog=ExoticSpecies_db;Persist Security Info=False;User ID=demoprojectsadmin;Password=Barbecue1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ExoticSpeciesOfTheNorth.Models.ExoticSpeciesDbContext, ExoticSpeciesOfTheNorth" MigrationConfiguration="ExoticSpeciesOfTheNorth.Migrations.Configuration, ExoticSpeciesOfTheNorth" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyDB" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=(localdb)\MSSQLLocalDB;&#xD;&#xA;        Initial Catalog=ExoticSpecies;&#xD;&#xA;        AttachDbFilename=D:\VisualStudio\Projects\ExoticSpecies\ExoticSpecies\App_Data\ExoticSpecies.mdf;&#xD;&#xA;        Integrated Security=True;&#xD;&#xA;        ApplicationIntent=ReadWrite;&#xD;&#xA;        MultiSubnetFailover=False;&#xD;&#xA;        Encrypt=False;&#xD;&#xA;        TrustServerCertificate=True;&#xD;&#xA;        Connect Timeout = 30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=(localdb)\MSSQLLocalDB;&#xD;&#xA;        Initial Catalog=ExoticSpecies;&#xD;&#xA;        AttachDbFilename=D:\VisualStudio\Projects\ExoticSpecies\ExoticSpecies\App_Data\ExoticSpecies.mdf;&#xD;&#xA;        Integrated Security=True;&#xD;&#xA;        ApplicationIntent=ReadWrite;&#xD;&#xA;        MultiSubnetFailover=False;&#xD;&#xA;        Encrypt=False;&#xD;&#xA;        TrustServerCertificate=True;&#xD;&#xA;        Connect Timeout = 30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyDB-Web.config Connection String" />
    <MSDeployParameterValue Include="ExoticSpeciesOfTheNorth.Models.ExoticSpeciesDbContext-Web.config Connection String">
      <ParameterValue>Server=tcp:demoprojects.database.windows.net,1433;Initial Catalog=ExoticSpecies_db;Persist Security Info=False;User ID=demoprojectsadmin;Password=Barbecue1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ExoticSpeciesOfTheNorth.Models.ExoticSpeciesDbContext" />
  </ItemGroup>
</Project>